html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

/* Generic container */
.container {
  min-width: 288px;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* PC */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* end of generic container */

/* #region Header */
@media only screen and (min-width: 1158px) {
  .header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding: 0 16px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1158px) {
  .header-container {
    padding: 0;
    justify-content: space-between;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .navbar {
    gap: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    justify-content: unset;
    width: unset;
  }
}

.mobile-menu-btn {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
  border: none;
  background-color: transparent;
}

.icon-mobile-menu {
  width: 18px;
  height: 18px;
  stroke: #2f2f37;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.nav-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.home-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

@media only screen and (min-width: 1158px) {
  .home-link {
    margin-right: 76px;
  }
}

.home-title {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.nav-link-active {
  color: #404bbf;
  position: relative;
}

.nav-link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.address-section {
  display: none;
}

@media only screen and (min-width: 768px) {
  .address-section {
    font-style: normal;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .adress-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .adress-container {
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
  }
}

@media only screen and (min-width: 768px) {
  .contact-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .contact-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.contact-link:active {
  color: #404bbf;
}

/* #endregion Header */

/* #region Hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

@media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-mobile-2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-tablet.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-tablet-2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-desktop.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-desktop-2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    gap: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-container {
    gap: 48px;
  }
}

.hero-title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 160px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

.hero .hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #404bbf;
}

/* #endregion Hero */

/* #region About */

.about-section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .about-section {
    padding: 120px 0;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .about-container {
    flex-direction: row;
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .about-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .about-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.about-icon-container {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .about-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    max-width: 100%;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.about-icon {
  fill: #2e2f42;
}

.about-section .about-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .about-section .about-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .about-section .about-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
}

.about-section .about-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion About*/

/* #region Team */

.team-section {
  background-color: #f4f4fd;
  text-align: center;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-section .team-section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-container {
    flex-direction: row;
    gap: 24px;
  }
}

.team-section .team-card {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

@media only screen and (min-width: 1158px) {
  .team-section .team-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-card-container {
  padding: 32px 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-card-trailing-link {
  line-height: 0;
  padding: 12px 12px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.team-card-trailing-link:hover,
.team-card-trailing-link:focus {
  background-color: #404bbf;
}

.team-card-trailing-link:active {
  background-color: #404bbf;
}

.trailing-icon {
  fill: #f4f4fd;
}

.team-card-trailing-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-card-trailing-icon {
  width: 40px;
  height: 40px;
}

.team-section .team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-section .team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion Team */

/* #region Portfolio */

.portfolio-section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
}

.portfolio-section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-container {
    gap: 48px 24px;
  }
}
.portfolio-card {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  max-width: 288px;
}
@media only screen and (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 24px) / 2);
    max-width: 999px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-card {
    width: calc((100% - 48px) / 3);
    max-width: 999px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-overlay-section {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f4f4fd;
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

/* #endregion Portfolio */

/* #region Footer */

.footer-section {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: normal;
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    gap: 0;
    padding-left: 15px;
  }
}

.footer-tablet-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-tablet-wrap {
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-tablet-wrap {
    gap: 0;
    align-items: baseline;
    margin-right: 80px;
  }
}

/* #region FooterCopyright */
.footer-copyright-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-copyright-stuff {
    display: block;
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-copyright-stuff {
    display: block;
    margin-right: 120px;
  }
}

.home-link-footer {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  margin-bottom: 16px;
}

.home-link-footer .home-title {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* #endregion FooterCopyright */

/* #region FooterSocials */

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-socials {
    display: block;
  }
}

.footer-socials-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 0;
  margin-bottom: 16px;
}

.footer-socials-icons {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-link:active {
  background-color: #31d0aa;
}

/* #endregion FooterSocials */

/* #region FooterSub */

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe {
    display: block;
  }
}

.footer-subscribe-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-button {
  border-radius: 4px;
  width: 165px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 8px 24px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #404bbf;
}

.footer-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* #endregion FooterSub */

/* #endregion Footer */

/* #region MobileMenu */

.mobile-menu {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f421a;
  background-color: #e7e9fc1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.mobile-menu-close-button:hover {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-button:active {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover .mobile-menu-close-icon,
.mobile-menu-close-button:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-nav-link:active {
  color: #404bbf;
}

.mobile-address-section {
  margin-bottom: 48px;
}

.mobile-adress-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contact-link {
  color: #434455;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: #4d5ae5;
}

.mobile-contact-link:active {
  color: #4d5ae5;
}

.mobile-socials-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: #31d0aa;
}

.mobile-socials-link:active {
  background-color: #31d0aa;
}

/* #endregion MobileMenu */

/* #region Modal */

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:active {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
}

.modal-field-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-input-wrap {
  position: relative;
}

.modal-input-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding: 11px 0;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus,
.modal-input:active {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-comment-wrap {
  margin-bottom: 16px;
}

.modal-input-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding: 8px 16px;
  resize: none;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.modal-input-comment:focus,
.modal-input-comment:active {
  border-color: #4d5ae5;
}

.modal-input-comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-agreement-wrap {
  margin-bottom: 24px;
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

input[type="checkbox"]:checked + .modal-checkbox-label > .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-privacy-policy-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: #4d5ae5;
}

.modal-send-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  align-self: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #404bbf;
}

.modal-overlay {
  background-color: #2e2f4266;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

/* #endregion Modal */
